@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Kanit:wght@300&display=swap');
.caracteristicas{
    width: auto;
    height: 600px;
    background-color: #190330;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.caracteristicasTitulo{
    grid-column: 1/9;
    color: white;
    text-align: center;
    align-self: center;
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
}

h4 {
    color: white;

}

p {
    color: white;
}

.caracteristicas__bloco1, .caracteristicas__bloco2, .caracteristicas__bloco3, .caracteristicas__bloco4{
    background-color: #290944;
    margin: 16px;
    border-radius: 8px;
    padding: 8px;
}

.caracteristicas__bloco1{
    grid-row-start: 2;
    grid-column: 2/5;
    
}

.caracteristicas__bloco2{
    grid-column: 5/8;
   
}

.caracteristicas__bloco3{
    grid-row-start: 3;
    grid-column: 2/5;
    
}

.caracteristicas__bloco4{
    grid-column-start: 3;
    grid-column: 5/8;
  
}

h4{
    font-family: Kanit;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}

p{
    text-align: center;
    font-family: Inter;
    font-weight: 300;
}

@media (max-width: 720px){
    .caracteristicas{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .caracteristicasTitulo {
        margin-top: 48px;
        margin-bottom: 48px;
    }
}